.button {
    background: #FF004B;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #FF004BBB;
  }