.card-category {
    background-image: url('../../images/breakfast.jpg');
    color: white;
    height: 200px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 5px;
  }