.card-trip {
    background: white;
  }
  
  .card-trip img {
    width: 100%;
  }
  
  .card-trip-informations {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }